################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs/systemproxysetter/v15/ipch/AutoPCH/2bd1849d2ea8dc17/MAIN.ipch
/.vs
/cmake-build-debug
